* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  height: 400px;
  border: 4px dashed burlywood;

  background-image: url(../image/landing-pexels-alexas-fotos-7264932.jpg);
  background-size: cover;
  background-position: top;
}

.img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center center;
}